*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Adicionamos uma altura mínima igual à altura da janela */
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links li:first-child {
  margin-left: 0;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-grow: 1; /* Definimos flex-grow como 1 para que o conteúdo principal ocupe todo o espaço disponível */
  width: 100%;
}

.project {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  max-width: 300px;
  flex: 1;
}

.project h2 {
  margin-top: 0;
}

img {
  max-width: 100%;
  height: auto;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  /* position: absolute; Definimos a posição como absoluta */
  /* bottom: 0; Posicionamos o footer no fundo da página */
  width: 100%; /* Definimos a largura como 100% para ocupar toda a largura da página */
}


form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input, textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #45a049;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
}

/* ... Outros estilos ... */

/* Estilos específicos para o formulário de login */
.login-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
}

.register-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
}