{% extends 'base.html' %}

{% block conteudo %}

<main class="container py-4">
    <div class="register-form">
        <h2>Cadastro de Usuário</h2>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
    <div class="alert alert-sucess" role="alert">
        {{ msg }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
        <form method="post">
            {{ cadastro.csrf_token }}
            <div class="form-group">
                <label for="username">Nome de Usuário</label>
                {{cadastro.name(class="form-control", placeholder="Digite seu nome de usuário")}}
            </div>

            <div class="form-group">
                <label for="email">E-mail</label>
                {{cadastro.email(class="form-control", placeholder="Digite seu e-mail")}}                
            </div>

            <div class="form-group">
                <label for="cpf">CPF</label>
                {{cadastro.cpf(class="form-control", placeholder="Digite seu cpf")}}                
            </div>

            <div class="form-group">
                <label for="phone">Telefone</label>
                {{cadastro.phone(class="form-control", placeholder="Digite seu telefone")}}                
            </div>

            <div class="form-group">
                <label for="street">Endereço</label>
                {{cadastro.street(class="form-control", placeholder="Digite seu endereço (rua e nº)")}}
                
            </div>

            <div class="form-group">
                <label for="neighborhood">Bairro</label>
                {{cadastro.neighborhood(class="form-control", placeholder="Digite seu bairro")}}                
            </div>

            <div class="form-group">
                <label for="city">Cidade</label>
                {{cadastro.city(class="form-control", placeholder="Digite sua cidade")}}                
            </div>

            <div class="form-group">
                <label for="state">Cidade</label>
                {{cadastro.state(class="form-control", placeholder="Digite seu estado")}}                
            </div>

            <div class="form-group">
                <label for="password">Senha</label>
                {{cadastro.password(class="form-control", placeholder="Digite sua senha")}}
            </div>
            <button type="submit" class="btn btn-success">Cadastrar</button>
        </form>
    </div>
</main>

{% endblock %}