{% extends 'base.html' %}

{% block conteudo %}

<section id="contato">

    <section class="contact-info">
        <h2>Informações de Contato</h2>
        <p>Email: seuemail@example.com</p>
        <p>Telefone: (00) 1234-5678</p>
        <p>Endereço: Rua Exemplo, 1234</p>
    </section>
    <section class="contact-form">
        <h1>Formulário de Contato</h1>
       
        <form action="" method="post">
            {{formulario.csrf_token}}
            <div class="form-group">
                <label for="name">Nome:</label>
                {{formulario.name}}
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                {{formulario.email}}
            </div>
            <div class="form-group">
                <label for="phone">Telefone:</label>
                {{formulario.phone}}
            </div>
            <div class="form-group">
                <label for="message">Mensagem:</label>
                {{formulario.message}}
            </div>
            {{formulario.submit}}
        </form>
    </section>

</section>

<section>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for mensagem in messages %}
        <li>{{ mensagem }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% if dados_formulario %}
    <p>Dados do Formulário:</p>
    <p>Nome: {{ dados_formulario.nome }}</p>
    <p>Email: {{ dados_formulario.email }}</p>
    <p>Telefone: {{ dados_formulario.phone }}</p>
    <p>Conteúdo: {{ dados_formulario.message }}</p>
    {% endif %}







</section>


{% endblock %}