<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Portfólio|{{title}}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css')}}">
</head>
<body>
    <header>
        <nav class="navbar">
            <h1>Programador de Sistemas - Atividade 01</h1>
            <ul class="nav-links">
                <li><a href="index">Início</a></li>
                <li><a href="sobre">Sobre</a></li>
                <li><a href="portfolio">Portfólio</a></li>
                <!-- Adicione mais itens de menu aqui, se desejar -->
                <li><a href="contato">Contato</a></li>
                
            </ul>
        </nav>
    </header>
    <main>
        <section class="proposal">
            <h2>Proposta do Site para Atividade Acadêmica</h2>
            <p>Este site foi desenvolvido como parte da atividade acadêmica do curso de Programador de Sistemas no SENAC-RN. O objetivo desta atividade é colocar em prática os conhecimentos adquiridos durante o curso e demonstrar as habilidades em desenvolvimento web usando Python, Flask, HTML e CSS.</p>
            <p>O site possui três páginas principais: "Portfólio", "Sobre Mim" e "Contato". Na página de "Portfólio", é possível ver alguns projetos desenvolvidos. Na página "Sobre Mim", há uma breve descrição do desenvolvedor. E na página "Contato", os visitantes podem enviar mensagens através do formulário de contato.</p>
            <p>Além disso, o site é responsivo, adaptando-se a diferentes tamanhos de tela, graças ao uso de Flexbox e estilos CSS adequados.</p>
        </section>
    </main>
    <footer>
        <p>Contato: seuemail@example.com</p>
    </footer>
</body>
</html>
