{% extends 'base.html' %}

{% block conteudo %}
<section id="index" class="proposal">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
<div class="alert alert-sucess" role="alert">
    {{ msg}}
</div>
{% endfor %}
{% endif %}
{% endwith %}

    <h2>Proposta do Site para Atividade Acadêmica</h2>
    <p>Este site foi desenvolvido como parte da atividade acadêmica do curso de Programador de Sistemas no SENAC-RN. O
        objetivo desta atividade é colocar em prática os conhecimentos adquiridos durante o curso e demonstrar as
        habilidades em desenvolvimento web usando Python, Flask, HTML e CSS.</p>
    <p>O site possui três páginas principais: "Portfólio", "Sobre Mim" e "Contato". Na página de "Portfólio", é possível
        ver alguns projetos desenvolvidos. Na página "Sobre Mim", há uma breve descrição do desenvolvedor. E na página
        "Contato", os visitantes podem enviar mensagens através do formulário de contato.</p>
    <p>Além disso, o site é responsivo, adaptando-se a diferentes tamanhos de tela, graças ao uso de Flexbox e estilos
        CSS adequados.</p>

</section>

{% endblock %}