{% extends 'base.html' %}

{% block conteudo %}

<section id="sobre" class="about-me">
    <h2>Quem Sou Eu</h2>
    <p>Olá! Meu nome é [Seu Nome] e sou um entusiasta de desenvolvimento web. Tenho experiência em HTML, CSS, JavaScript
        e outras tecnologias da web. Adoro aprender novas coisas e estou sempre em busca de aprimorar minhas
        habilidades.</p>
</section>
<section class="skills">
    <h2>Habilidades</h2>
    <ul>
        <li>HTML5</li>
        <li>CSS3</li>
        <li>JavaScript</li>
        <li>React</li>
        <!-- Adicione mais habilidades aqui, se desejar -->
    </ul>
</section>

{% endblock %}